body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Quicksand;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
}

.navbox {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-right: 50px;
  text-decoration: none;
  justify-content: end;
  align-items: end;
}

.navlist {
  list-style: none;
}

.navbar a {
  color: rgb(231, 227, 227);
  text-decoration: none;
  font-family: "Franklin Gothic Medium";
}

.navbar {
  background-image: url(../img/fondohf.png);
  background-position: bottom;
}

.burguer {
  border: 1px solid rgba(255, 255, 255, 0.815);
  border-radius: 5px;
}

.divbarraprov {
  width: 100%;
  height: 1px;
  background-color: black;
}

.divisory {
  width: 90%;
  height: 2px;
  background-color: rgb(216, 211, 211);
  margin: 20px 0px;
  max-width: 400px;
}

.escritorioOculto {
  display: none;
}

.section_titlecont {
  display: flex;
  flex-direction: row;

  width: 80%;
  margin: 5px 0px;
}

.section_title {
  font-size: 50px;
  border-bottom: 4px solid black;
}

.home_articlecont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.home_articlecont_rev {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.home_article_title {
  font-size: 35px;
  font-weight: 500;
}

.home_article_textcont {
  display: flex;
  flex-direction: column;
}

.home_article_text {
  font-size: 20px;
  font-weight: 390;
}

.home_articleimg {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.pizzabox {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  margin: 10px 0px;
}

.fotopizza {
  height: 100%;
  aspect-ratio: 1/1;
}

.w80 {
  width: 80%;
  margin-bottom: 50px;
}

.menumain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  gap: 20px;
  width: 100%;
}

.menutitlebox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: relative;
  width: 100%;
}

.menutitlebox p {
  margin: 5px 0px;
}

.probando_style {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  gap: 5px;
}

.probando_style p {
  text-align: center;
  margin: auto;
}

.menutitle {
  margin: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  top: -15px;
  position: absolute;
  background-color: white;
}

.menurow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.menucolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  width: 100%;
}

.menubox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  flex-grow: 1;
  align-items: center;
  border: 1px solid black;
  width: 90%;
  height: 100%;
  max-width: 400px;
}

.logo {
  height: 100%;
}

.videomapbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 50px;
}

.videomapcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.videomapcontainer h1,
.videomapcontainer p {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 2px solid rgb(148, 145, 145);
  margin-bottom: 50px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.inputtext {
  border: 1px solid rgb(170, 165, 165);
  width: 80%;
  padding: 20px;
}

.contactbuttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 85%;
  gap: 50px;
  margin-bottom: 20px;
}

.button {
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #4a4a4a;
}

.contactbuttons a {
  text-decoration: none;
  color: aliceblue;
}

.contact_links {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}

.contact_links a {
  text-decoration: none;
  color: aliceblue;
  border: 2px solid #4a4a4a;
  background-color: #4a4a4a;
}

.iframe {
  width: 100%;
  margin: 20px 0px 50px;
}

.video {
  width: 100%;
}

.pie {
  background-image: url(../img/fondohf.png);
  background-position: center;
}

.piecontenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  color: rgb(53, 53, 53);
}

.itempie {
  color: aliceblue;
  font-family: "Gill Sans MT";
  text-transform: uppercase;
  font-style: oblique;
  margin: 10px;
}

/* MEDIA CUERIS */

@media (max-width: 991.98px) {
  .navbox {
    gap: 8px;
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 80px;
  }

  .pizzabox {
    display: none;
  }

  .home_articlecont,
  .home_articlecont_rev {
    flex-direction: column;
  }

  .menurow {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .escritorioOculto {
    display: block;
  }

  .videomapbox {
    margin: none;
  }
}
